@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
  min-height: 100vh;
}

#header {
  text-align: center;
  margin: 3rem auto;
}


#header img {
  width: 24rem;
  height: 15rem;
  object-fit: contain;
  background-color: transparent;
}

#header h1 {
  font-size: 1.5rem;
  text-align: center;
}

#user-input {
  padding: 1rem;
  max-width: 40rem;
  background-color: transparent;
}

.input-group {
  display: flex;
  justify-content: center;
}

#user-input label {
  display: block;
  margin-bottom: 0.25rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

#user-input input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #76c0ae;
  border-radius: 0.25rem;
  background-color: transparent;
  color: #c2e9e0;
  font-size: 1rem;
}

#result {
  max-width: 50rem;
  margin: 2rem auto;
  padding: 1rem;
  table-layout: fixed;
  border-spacing: 1rem;
  text-align: right;
}

#result thead {
  font-size: 0.7rem;
  color: #83e6c0;
}

#result tbody {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.85rem;
  color: #c2e9e0;
}

.center {
  text-align: center;
}

.coordenate-button {
  background-color: transparent;
  color: #76c0ae;
  border: 1px solid #76c0ae;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  width: 400px;
}

.coordenate-button:hover {
  border: 1px solid #aef1e1;
  color: #aef1e1;
  box-shadow: 0 0 10px #aef1e1;
}

#vegetable-container {
  display: flex;
  justify-content: center; 
  align-items: center;
}

#vegetables-content {
  text-align: center;
  padding: 20px;
  margin-bottom: 2px;
}

.vegetables-list {
  list-style: none;
  text-align: left;
  padding: 5px;
}

.vegetables-list li {
  color: #ddd;
  text-align: left;
  padding: 15px;
  background-color: rgb(190, 190, 190, 0.1);
  border-radius: 5px;
}
  
.vegetables-list li::before {
  content: "+";
  font-size: 1em;
  text-align: left;
  font-weight: bold;
  color: #00fa00;
}

.vegetables-list li:hover {
  background-color: rgba(100,100,100,0.1);
  border-radius: 5px;
}
